<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.redistest.dao.AddressBlockNumberMapper">
    <resultMap id="FirstResultMap" type="com.example.redistest.domian.AddressNumber">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="blockNumber" jdbcType="VARCHAR" property="blockNumber"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>
<select id="selectAllAddress" resultMap="FirstResultMap">
    select distinct(address) from address_blockNumber

</select>
    <select id="selectBlockMax" resultType="string">
        select max(blockNumber) from address_blockNumber
        where type = #{type}
    </select>

    <insert id="insertAddressAndBlockNumber">
        insert into address_blockNumber(address,blockNumber,type)
        values
              <foreach collection="list" item="addressNumber" separator=",">
                  (#{addressNumber.address},#{addressNumber.blockNumber},#{addressNumber.type} )
              </foreach>
    </insert>
</mapper>